[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
{% if cookiecutter.use_black == 'y' -%}
black = "*"{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest = "*"
pytest-runner = "*"{% endif %}

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
werkzeug = "*"
termcolor = "*"
pydantic = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"

[pipenv]
allow_prereleases = true
