[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
nose = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-restful = "*"
werkzeug = "*"
termcolor = "*"
pydantic = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
