[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.0.2"
Flask-Cors = "==3.0.4"
Flask-RESTful = "==0.3.6"
Werkzeug = "==0.14.1"
arrow = "*"
termcolor = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.6"
